# ohne build, install, log und detectons file die type json sind
build/
install/
log/
*.json
polygon_nav/polygon_nav/__pycache__/

# keine frames auf oberster ebene¨
frames*.pdf

PolygonNavigationClient.py

publish_goal_pose.py